.navbar li {
    display: inline;
}

.jumbotron {
    height: 480px;
    background-image: url("img/cover_photo_cropped.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron .container {
    position: relative;
    /*top: 100px;*/
}
