/*  COLOR SCHEME
    MAIN: #30E8BF (light blue)
    ACCENT 1: #FB3453 (light red)
    ACCENT 2: #FFB335 (orangey)
    LIGHT GREY: #F0F9F7
    DARK GREY: #414A48
    WHITE: #FFFFFF  */

.navbar {
    background: #414A48;
}

body {
    color: #414A48;
}

.navbar li {
    display: inline;
}

.jumbotron {
    height: 480px;
    background: linear-gradient( 45deg, #30E8BF, #C8F6EB);
    color: #FFFFFF;
    text-align: center;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}
