/*  COLOR SCHEME
    MAIN: #16C72C (GREEN)
    ACCENT: #13919D (BLUE)
    secondary ACCENT: #A2ED1A;
    LIGHT GREY: #e8fcea
    DARK GREY: #062d0a
    WHITE: #FFFFFF  */

body {
    color: #062d0a;
    background: #e8fcea;
}

.navbar li {
    display: inline;
}

.jumbotron {
    height: 400px;
    background: linear-gradient(45deg, #16C72C, #A2ED1A);
    color: #FFFFFF;
    text-align: center;
}

.jumbotron h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.contents .container {
    background: #FFFFFF;
}

.footer {
    top: 50%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.footer .container {
    background: #ffffff;
}
