/*  COLOR SCHEME
    MAIN: #30E8BF (light blue)
    ACCENT 1: #FB3453 (light red)
    ACCENT 2: #FFB335 (orangey)
    LIGHT GREY: #E6F8F4
    DARK GREY: #414A48
    WHITE: #FFFFFF  */

body {
    color: #414A48;
}

.navbar li {
    display: inline;
}

.jumbotron {
    height: 480px;
    background: #30E8BF;
    color: #FFFFFF;
    text-align: center;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.row .container {
    background: #E6F8F4
}
