.navbar li {
    display: inline;
}

.jumbotron {
    height: 480px;
    background: linear-gradient(90deg, #330066, #3399ff);
    color: #cccccc;

    /*
    background-image: url("img/cover_photo_cropped.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
}

.jumbotron .container {
    position: relative;
    top: 100px;
}
